# Drone CI/CD Configuration - LOCAL
# =================================

# GitHub OAuth App Configuration - NUEVAS CREDENCIALES
DRONE_GITHUB_CLIENT_ID=Ov23liUkZPPY6NxDbi6j
DRONE_GITHUB_CLIENT_SECRET=5e6e1391da2c270e3cdd06268ad4080f1589b3c7

# GitHub Personal Access Token
GITHUB_TOKEN=Mg5tpUEVScyUNBGv3o5GyVbnz6ctsD2A

# Drone Server Configuration - GCP
DRONE_SERVER_HOST=34.61.228.49:8002
DRONE_SERVER_PROTO=http

# RPC Configuration
DRONE_RPC_PROTO=http
DRONE_RPC_HOST=drone-server:80
DRONE_RPC_SECRET=15d4a20df9fee5420d98c13422bf29ff

# Admin User
DRONE_ADMIN_USER=humbertovenavente

# SonarQube Configuration - GCP
SONAR_TOKEN=sqa_9e95b3a3e0b243715a9b438fb7a08c1060e7123a
SONAR_HOST_URL=http://34.61.228.49:9003

# Grok Configuration
GROK_API_KEY=2y0VGgZEKDSVsjkImjiNE1feiRd_38io6TPdS9To8E717e8rb
GROK_BASE_URL=https://api.groq.com/openai/v1
