[Unit]
Description=Drone CI/CD Server
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/jose/Hospital
ExecStart=/usr/local/bin/docker-compose -f docker-compose.drone-simple.yml up -d
ExecStop=/usr/local/bin/docker-compose -f docker-compose.drone-simple.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
